.columns {
	display: flex;
	flex-flow: row nowrap;
}

.columns.top {
	align-items: flex-start;
}

.columns.center {
	align-items: center;
}

.columns.bottom {
	align-items: flex-end;
}

.stacked {
	flex-wrap: wrap;
}
